<div class="d-flex container-fluid row px-4 px-lg-5 py-3 min-vw-100">
    <div
        class="col-lg-4 d-flex justify-content-center align-items-center py-1">
        <img class="rounded img-thumbnail img-fluid" src="images/myphoto.jpg" alt="My Photo" style="width: 300px;">
    </div>
    <div class="d-flex flex-column col-lg-8 justify-content-center align-items-center py-1">
        <section>
            <p class="fs-4 fw-bold">Welcome</p>
            <p class="fs-6">
                I am currently a Electronic Engineering Master student at the 
                <a href="https://www.nkust.edu.tw/" title="Institut de mathématiques de Toulouse"
                    target="_blank">
                    National Kaohsiung University of Science and Technology</a>
                supervised by
                <a href="http://bit.nkust.edu.tw/~csshieh/" title="Webpage of Chin-Shiuh Shieh"
                    target="_blank">
                    Chin-Shiuh Shieh</a>,
                starting from October 2022.
            </p>
        </section>
    </div>

    <!-- <section>
        <p class="fs-4 fw-bold">Contact details </p>
        <p class="fs-6"><strong>Office: </strong>1R1 203</p>
        <p class="fs-6"><strong>Email: </strong>fu-hsuan [dot] ho [at] math [dot] univ-toulouse [dot] fr<br /></p>
        <p class="fs-6">
            <strong>Postal adress: </strong> <br />
            Institut de Mathématique de Toulouse <br />
            Université Toulouse III - Paul Sabatier <br />
            118 route de Narbonne <br />
            31062 TOULOUSE Cedex 9 <br />
            FRANCE <br />
        </p>
    </section> -->
</div>